body {
  margin: 0;
  background-color: #d9d9d9;
  font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body > h1.main-heading {
  margin: 30px 0;

  color: white;

  font-style: italic;
  font-size: 20pt;
}

body > nav.navbar {
  width: 100%;
  max-width: 750px;

  padding-left: 20px;
  box-sizing: border-box;

  border-radius: 18px;
  background-color: #474646;
}

nav.navbar > a {
  display: inline-block;

  padding: 10px;

  text-decoration: none;
  font-size: 10pt;
  font-weight: 600;

  color: white;
}

button.button {
  display: inline-block;

  margin: 0;
  padding: 0;

  border: none;

  font-family: Inter;
  font-weight: 500;
  font-style: normal;
}

button.button-default {
  padding: 5px;

  background-color: #363636;
  color: white;
}

button.button-alert {
  padding: 5px;

  background-color: #c93333;
  color: white;
}

button.button:hover {
  cursor: pointer;
}

div.main {
  width: 100%;
  max-width: 750px;

  margin-top: 15px;

  box-sizing: border-box;

  background-color: white;
  border-radius: 15px;
}

div.main > h1 {
  position: relative;

  padding-bottom: 15px;

  text-align: center;

  font-weight: 400;
  font-size: 15pt;
}

div.table-block {
  box-sizing: border-box;
  padding: 0px 35px;
  padding-bottom: 20px;
}

div.table-block > table {
  width: 100%;

  border-collapse: separate;
  border-spacing: 0 8px;

  font-size: 10pt;
}

div.table-block > table th,
div.table-block > table td {
  width: 15%;
}

div.table-block > table th {
  text-align: left;
}

div.table-block > table td {
  padding: 0;

  background-color: #e3e2e2;

  text-align: left;
  font-weight: 400;
}

div.table-block > table td:first-child {
  padding-left: 10px;
  border-radius: 20px 0 0 20px;
}

div.table-block > table th:first-child {
  padding-left: 10px;
}

footer {
  display: flex;
  align-items: end;

  position: fixed;
  bottom: 0;

  width: 100%;
  min-height: 75px;

  margin-top: auto;
  margin: 0 auto;
  padding: 0;

  background-color: #5a5656;
  color: white;

  font-size: 11pt;
  font-family: Inter;
  font-style: normal;
  font-size: small;
}

footer > span {
  flex-grow: 1;
  margin: 20px;
}

footer > span#made-by {
  text-align: left;
}

footer > span#year {
  text-align: right;
}
