body {
    background-color: #D9D9D9;    

    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button.button {
    display: inline-block;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    border: none;

    font-family: Inter;
    font-weight: 500;
    font-style: normal;
}

button.button-default {
    padding: 5px;

    vertical-align: middle;

    background-color: #363636;
    color: white;
}

button.button:hover {
    cursor: pointer;
}

footer {
    display: flex;
    align-items: end;

    position: fixed;
    bottom: 0;

    width: 100%;
    min-height: 100px;

    margin-top: auto;
    margin: 0 auto;
    padding: 0;

    background-color: #5a5656;
    color: white;

    font-size: 11pt;
    font-family: Inter;
    font-style: normal;
    font-size: small;
}

footer > span {
    flex-grow: 1;
    margin: 20px
}

footer > span#made-by {
    text-align: left;
}

footer > span#year {
    text-align: right;
}