body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0 20%;
}

nav.navbar > a#home {
  font-size: 12pt;
}

div.main {
  width: 100%;
  max-width: 550px;

  flex-grow: 1;
  margin: 0;
}

th#price-header {
  width: 90px;
}

th#stock-header {
  text-align: center;
}

td#icon {
  text-align: center;
}

div.icon {
  display: inline-block;
  position: relative;

  width: 18px;
  height: 18px;

  background-size: contain;
}

div.icon-check {
  background-image: url("/assets/check.png");
}

div.icon-cross {
  background-image: url("/assets/cross.png");
}
