body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
}

div.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 240px;

  margin-top: 0;
  margin-bottom: 15px;

  background-color: transparent;
}

div.main > form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  box-sizing: border-box;
  padding: 15px 25px;

  border-radius: 15px;

  background-color: white;
}

.form-segment {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-bottom: 15px;
}

.form-segment input {
  width: 100%;
  height: 25px;

  padding-left: 8px;

  border: none;
  background-color: #e9e9e9;
}

.form-segment label {
  font-size: 8pt;
}

button.button-submit {
  border-radius: 15px;
  width: 130px;
}
