body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0 25%;
}

div.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 220px;

  margin-top: 0;
  margin-bottom: 15px;

  background-color: transparent;
}

div.main > form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding: 15px 0;

  border-radius: 15px;

  background-color: white;
}

form > button.button {
  border-radius: 15px;
  width: 55%;
}

form > div.form-segment {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

form > div.form-segment > label {
  font-size: 8pt;
}
