body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0 20%;
}

nav.navbar > a#home {
  font-size: 12pt;
}

div.main {
  width: 100%;
  max-width: 550px;

  flex-grow: 1;
}

div.input-time {
  display: inline-flex;
  flex-direction: row;
  align-content: baseline;

  /* width: 100px; */

  position: relative;
}

div.input-time > input {
  max-width: 50px;
  height: 15px;

  text-align: center;
  font-size: 8pt;
  font-weight: bold;

  border: none;
}

div.input-time > input:focus {
  border: none;
}

div.input-time > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;

  text-align: center;
  box-sizing: border-box;
  padding-bottom: 1px;

  font-size: 8pt;

  background-color: #363636;
  color: white;
}

button {
  width: 100%;
}
